body {
    font-family: 'Inter', sans-serif;
    background: #fff;
}

.header {
    background: #fff;
    border-bottom: 1px solid #E2E2E2;
}

.container {
    max-width: 1140px;
    margin-right: auto;
    margin-left: auto;
}


/* menu */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
}

.navbar-logo {
    display: inline-block;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    margin-right: 1rem;
    font-size: 1rem;
    line-height: inherit;
}

.logo-img {
    max-width: 62%;
    height: auto;
    vertical-align: middle;
}

.navbar-menu-wrap {
    background: transparent;
    justify-content: flex-end;
    display: flex!important;
}

.menu-header-not-auth {
    align-items: center;
    display: flex!important;
    column-gap: 27px;
    margin-right: 27px;
}

.menu-header-item {
    display: list-item;
    position: relative;
    padding: 2px 0;
}

.menu-nav-link {
    text-align: center;
    color: #000000 !important;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 23px;
    font-weight: 600;
    padding: 27px 0;
    cursor: pointer;
    transition: all 0.6s ease;
}

.menu-nav-link-active {
    text-align: center;
    color: #F77A21 !important;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 23px;
    font-weight: 600;
    padding: 27px 0;
    cursor: pointer;
    transition: all 0.6s ease;
}

.menu-nav-link:after {
	content: "";
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: #002162;
    transition: width 0.5s;
}

.menu-nav-link:hover:after {
	content: "";
    width: 100%;
    display: block;
    position: absolute;
    left: 0;
    bottom: -3px;
    height: 2px;
    background-color: #002162;
    transition: width 0.5s;
}

.sub-menu {
    background: #f9f9f9;
    padding: 10px 15px 20px;
    margin-left: 0;
    box-shadow: 0px 12px 12px rgb(0 0 0 / 14%);
    border-radius: 15px;
    transform: translateY(-5%);
    width: max-content;
    top: 50px;
    position: absolute;
    visibility: hidden;
    opacity: 0;
    z-index: 10;
}

.sub-menu li {
    margin-top: 15px;
    margin-bottom: 10px;
}

.menu-header-item:hover > ul {
    opacity: 1;
    transition: opacity 0.6s ease;
    visibility: visible;
}

.btn-blue {
    background: #002162 0% 0% no-repeat padding-box;
    box-shadow: 3px 6px 9px rgba(0, 54, 161, 0.5);
}

.btn {
    font-size: 16px;
    line-height: 25px;
    font-weight: bold;
    letter-spacing: 0.64px;
    color: #FFFFFF;
    text-transform: uppercase;
    display: inline-block;
    padding: 12px 30px;
    border-radius: 0;
    z-index: 1;
    border: 0;
}


/* about us */
.about-us {
    padding: 90px 0;
    position: relative;
    overflow: hidden;
}

.about-us:before {
    position: absolute;
    content: "";
    background: url('../images/effects/circle.png');
    height: 370px;
    width: 366px;
    left: -130px;
    bottom: 50px;
    background-size: 100% 100%;
}

.about-us:after {
    content: "";
    position: absolute;
    background: url('../images/effects/ellipse.png');
    height: 800px;
    width: 790px;
    top: -275px;
    right: -250px;
    background-repeat: no-repeat;
    background-size: 100%;
    z-index: -1;
}

.about-left {
    max-width: 50%;
}

.about-right {
    max-width: 50%;
}

.about-content {
    padding: 30px 30px 30px 0;
}

.about-title {
    font-weight: 900;
    color: #002162;
    font-size: 48px;
    line-height: 1.3;
}

.about-desc {
    margin-top: 20px;
    font-size: 24px;
    line-height: 1.3;
    font-weight: 500;
}

.about-right {
    flex: 0 0 50%;
    max-width: 50%;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.about-img-wrap {
    position: relative;
}

.about-img-wrap:before {
    position: absolute;
    content: "";
    background: url(../images/effects/gray-square.jpg);
    height: 320px;
    width: 320px;
    right: -30px;
    top: -50px;
    border-radius: 14px;
}

.about-img {
    width: 100%;
    height: auto;
    box-shadow: 8px 8px 11px rgb(0 0 0 / 16%);
    border-radius: 14px;
    border: solid 2px rgb(0 0 0 / 12%);
    position: relative;
    z-index: 1;
}


.join-btn {
    margin-top: 60px;
}


/* chess */
.chess {
    position: relative;
    overflow: hidden;
}

.chess:before {
    position: absolute;
    content: "";
    background: url(../images/effects/circle.png);
    height: 370px;
    width: 366px;
    right: -245px;
    top: 10%;
    background-size: 100% 100%;
}

.chess:after {
    position: absolute;
    content: "";
    background: url(../images/effects/circle.png);
    height: 370px;
    width: 366px;
    left: -245px;
    bottom: 0px;
    background-size: 100% 100%;
}

.row-top {
    display: flex;
}

.row-bottom {
    display: flex;
    margin-top: 100px;
}

.chess-img-wrap {
    position: static;
    height: 500px;
    padding-top: 30px;
    flex: 0 0 50%;
    max-width: 50%;
}

.chess-img-left {
    position: absolute;
    width: 48%;
    right: auto;
    left: 0;
    height: 470px;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: top left !important;
}

.chess-img-right {
    position: absolute;
    right: 0;
    left: auto;
    width: 48%;
    height: 470px;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: top left !important;
}

.chess-text-wrap {
    max-width: 50%;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}

.chess-text {
    padding: 50px 0;
    font-size: 18px;
    line-height: 1.5;
    font-weight: 500;
}


/* join-banner */
.join-banner {
    margin-top: 70px;
    background: url('../images/content/bg.jpg');
    background-repeat: no-repeat!important;
    background-size: cover!important;
    padding: 100px 0 50px;
    background-attachment: fixed !important;
    text-align: center;
}

.join-banner-text {
    font-size: 37px;
    font-weight: 700;
    color: #fff;
    display: block;
    text-transform: uppercase;
}

.join-banner-text span {
    text-transform: none;
}


/* features */
.features {
    margin: 180px 0 70px 0;
}

.features-text-wrap {
    text-align: justify;
}

.features-text-wrap h2 {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
}

.features-text-wrap p {
    margin-bottom: 5px;
    font-size: 17px;
    font-weight: 500;
    line-height: 1.3;
    text-indent: 30px;
}


/* footer */
.footer {
    padding-top: 60px;
    border-bottom: 1px solid #E2E2E2;
    border-top: 1px solid #E2E2E2;
    background: #002162;
    position: relative;
    color: white;
}

.footer:before {
    background: url('../images/content/footer-bg.png');
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    background-size: cover;
    position: absolute;
    z-index: 1;
}

.footer-wrap {
    position: relative;
    z-index: 2;
}

.row {
    display: flex;
}

.footer-column {
    flex: 0 0 33.333333%;
    max-width: 1/3;
    padding: 0 32px;
}

.footer-logo-img {
    max-width: 80%;
    height: auto;
    vertical-align: middle;
    margin-bottom: 10px;
}

.logo-text {
    text-align: left;
    font-size: 16px;
    line-height: 23px;
    font-weight: 600;
}

.footer-title {
    color: #F77A21;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    margin-bottom: 16px;
}

.footer-menu-link {
    margin-bottom: 8px;
    display: block;
    color: #FFFFFF !important;
    font-size: 14px;
    line-height: 23px;
    font-weight: 600;
    cursor: pointer;
}

.footer-social-items {
    margin: 40px 250px 0 250px;
    display: flex;
    justify-content: space-between;
}

.footer-social-item {
    display: flex;
}

.footer-social-link {
    display: flex;
    color: #FFFFFF !important;
    font-size: 18px;
    line-height: 23px;
    font-weight: 700;
    align-items: center;
    margin-left: 7px;
}

.footer-social-item div{
    width: 35px;
    height: 35px;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: top left !important;
    border-radius: 9px;
}

.img-telegram {
    background: url('../images/icons/tel.png');
}

.img-vkontakte {
    background: url('../images/icons/vk.png');
}

.img-youtube {
    background: url('../images/icons/yt.png');
}

.img-instagram {
    background: url('../images/icons/inst.png');
}

.copyright {
    margin: 70px 0 40px 0;
    text-align: center;
}

.copyright-text {
    color: #FFFFFF !important;
    font-size: 14px;
    line-height: 23px;
    font-weight: 600;
}
