{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'goal_setting/css/reset.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'goal_setting/css/styles.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;900&display=swap" rel="stylesheet">
    <title>{{ title }}</title>
</head>
<body>
    <header class="header">
        <!-- Nav Desktop -->
        <div class="container">
            <nav class="navbar">
                <a class="navbar-logo" href="{% url 'home' %}">
                    <img src="{% static 'goal_setting/images/logo/logo.png' %}" class="logo-img" alt="logo">
                </a>
                <div class="navbar-menu-wrap">
                    <ul class="menu-header-not-auth">
                        <li class="menu-header-item">
                            <a class="menu-nav-link" href="{% url 'why_us' %}">Почему мы?</a>
                        </li>
                        <li class="menu-header-item">
                            <a class="menu-nav-link" href="{% url 'home' %}">База знаний</a>
                            <ul class="sub-menu">
                                <li class="menu-header-item">
                                    <a class="menu-nav-link" href="{% url 'goals_info' %}">Мои цели</a>
                                </li>
                                <li class="menu-header-item">
                                    <a class="menu-nav-link" href="{% url 'points_info' %}">Мои баллы</a>
                                </li>
                                <li class="menu-header-item">
                                    <a class="menu-nav-link" href="{% url 'leaders' %}">Таблица лидеров</a>
                                </li>
                            </ul>
                        </li>
                        <li class="menu-header-item">
                            <a class="menu-nav-link" href="{% url 'all_goals' %}">Цели</a>
                        </li>
                        <li class="menu-header-item">
                            <a class="menu-nav-link" href="{% url 'news' %}">Новости</a>
                        </li>
                        <li class="menu-header-item">
                            <a class="menu-nav-link" href="#">Другое</a>
                            <ul class="sub-menu">
                                <li class="menu-header-item">
                                    <a class="menu-nav-link" href="{% url 'about' %}">О нас</a>
                                </li>
                                <li class="menu-header-item">
                                    <a class="menu-nav-link" href="{% url 'contact' %}">Обратная связь</a>
                                </li>
                                <li class="menu-header-item">
                                    <a class="menu-nav-link" href="{% url 'privacy_policy' %}">Политика конфиденциальности</a>
                                </li>
                                <li class="menu-header-item">
                                    <a class="menu-nav-link" href="{% url 'condition_of_use' %}">Условие пользования</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <a href="#" class="btn-blue btn">Вход</a>
                </div>
            </nav>
        </div>
    </header>

    {% block content %}
    {% endblock content %}
</body>
</html>