{% load static %}
{% load goal_tags %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/png" href="{% static 'goal_setting/images/logo/logo-icon.png' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'goal_setting/css/reset.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'goal_setting/css/styles.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'goal_setting/css/goal-styles.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'goal_setting/css/news-styles.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap" rel="stylesheet">
    <title>{{ title }}</title>
</head>
<body>
<header class="header">
    <!-- menu -->
    <div class="container">
        <nav class="navbar">
            <a class="navbar-logo" href="{% url 'home' %}">
                <img src="{% static 'goal_setting/images/logo/logo.png' %}" class="logo-img" alt="logo">
            </a>
            <div class="navbar-menu-wrap">
                {% url 'goals_info' as goals_info %}
                {% url 'leaders' as leaders %}
                {% url 'goals' as goals %}
                {% url 'archive' as archive %}
                {% url 'public_goals' as public_goals %}
                {% url 'news' as news %}
                {% url 'about' as about %}
                {% url 'contact' as contact %}
                {% url 'privacy_policy' as privacy_policy %}
                {% url 'condition_of_use' as condition_of_use %}
                <ul class="menu-header-not-auth">
                    {% if request.user.is_authenticated %}
                    <li class="menu-header-item">
                        <a class="{% active request goals %}" href="{{ goals }}">Цели</a>
                    </li>
                    <li class="menu-header-item">
                        <a class="{% active request archive %}" href="{{ archive }}">Архив</a>
                    </li>
                    {% endif %}
                    <li class="menu-header-item">
                        <a class="{% active request public_goals %}" href="{{ public_goals }}">Все цели</a>
                    </li>
                    <li class="menu-header-item">
                        <a class="{% active request news %}" href="{{ news }}">Истории успеха</a>
                    </li>
                    <li class="menu-header-item">
                        <a class="menu-nav-link" href="#">Другое</a>
                        <ul class="sub-menu">
                            <li class="menu-header-item">
                                <a class="{% active request goals_info %}" href="{{ goals_info }}">Как ставить цели</a>
                            </li>
                            <li class="menu-header-item">
                                <a class="{% active request contact %}" href="{{ contact }}">Обратная связь</a>
                            </li>
                            <li class="menu-header-item">
                                <a class="{% active request privacy_policy %}" href="{{ privacy_policy }}">Политика
                                    конфиденциальности</a>
                            </li>
                            <li class="menu-header-item">
                                <a class="{% active request condition_of_use %}" href="{{ condition_of_use }}">
                                    Пользовательское соглашение</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                {% if request.user.is_authenticated %}
                    <p class="menu-nav-link login">{{ user.username }}  |
                    <a href="{% url 'logout' %}" class="menu-nav-link login">Выйти</a></p>
                {% else %}
                    <a href="{% url 'auth' %}" class="btn-blue btn">Вход</a>
                {% endif %}
            </div>
        </nav>
    </div>
</header>

{% block content %}
{% endblock content %}

{% block join-banner %}
<section class="join-banner">
    <div class="container">
        <h2 class="join-banner-text">Присоеденяйтесь сегодня<br><span>Ставьте цели и делитесь историями успеха!</span></h2>
    </div>
    <div class="join-btn">
        <a href="{% url 'register' %}" class="btn btn-blue">Присоединиться</a>
    </div>
</section>
{% endblock join-banner %}

<!-- footer -->
<footer class="footer">
    <div class="footer-wrap">
        <div class="container">
            <div class="row">
                <div class="footer-column">
                    <a class="navbar-logo" href="{% url 'home' %}">
                        <img src="{% static 'goal_setting/images/logo/logo-footer.png' %}" class="footer-logo-img" alt="logo">
                    </a>
                    <p class="logo-text">Рассказывайте о своих целях и<br> шагах к их достижению, обменивайтесь опытом и идеями с единомышленниками.</p>
                </div>
                <div class="footer-column">
                    <h4 class="footer-title">Полезные ссылки</h4>
                    <ul class="footer-menu">
                        <li class="footer-menu-item"><a href="#" class="footer-menu-link">Почему Мы?</a></li>
                        <li class="footer-menu-item"><a href="#" class="footer-menu-link">О нас</a></li>
                        <li class="footer-menu-item"><a href="#" class="footer-menu-link">Цели</a></li>
                        <li class="footer-menu-item"><a href="#" class="footer-menu-link">Новости</a></li>
                        <li class="footer-menu-item"><a href="#" class="footer-menu-link">Обратная связь</a></li>
                    </ul>
                </div>
                <div class="footer-column">
                    <h4 class="footer-title">Конфиденциальность</h4>
                    <ul class="footer-menu">
                        <li class="footer-menu-item"><a href="#" class="footer-menu-link">Политика конфиденциальности</a></li>
                        <li class="footer-menu-item"><a href="#" class="footer-menu-link">Условия использования</a></li>
                    </ul>
                </div>
            </div>
            <div class="social">
                <ul class="footer-social-items">
                    <li class="footer-social-item">
                        <div class="img-telegram"></div>
                        <a href="#" class="footer-social-link">Telegram</a>
                    </li>
                    <li class="footer-social-item">
                        <div class="img-vkontakte"></div>
                        <a href="#" class="footer-social-link">ВКонтакте</a>
                    </li>
                    <li class="footer-social-item">
                        <div class="img-youtube"></div>
                        <a href="#" class="footer-social-link">YouTube</a>
                    </li>
                    <li class="footer-social-item">
                        <div class="img-instagram"></div>
                        <a href="#" class="footer-social-link">Instagram</a>
                    </li>
                </ul>
            </div>
            <div class="copyright">
                <p class="copyright-text">© 2023 Все права защищены Sprout.</p>
            </div>
        </div>
    </div>
</footer>
</body>
<script src="{% static 'goal_setting/js/goals.js' %}"></script>
</html>