{% extends 'goal_setting/base.html' %}
{% load static %}

{% block content %}

<!-- goals -->
<section class="goals">
    <div class="container">
        <div class="row-title">
            <h1 class="goals-title">Работа с целями:</h1>
        </div>
        <div class="row-content">
            <!-- goal-card -->
            <div class="goal-card-wrap">
                <div class="goal-card">
                    <div class="goal-card-header">
                        <div class="goal-marking">
                            <div class="goal-wrap-img">
                                <img src="{% static 'goal_setting/images/icons/goal.png' %}" class="goal-img">
                            </div>
                            <h6 class="goals-marking-title">Цели</h6>
                        </div>
                        <a class="goal-more" href="#">Показать больше ></a>
                    </div>
                    <div class="goal-body">
                        <ul class="goal-list">
                            <li class="goal-not-name">У вас пока нет целей!</li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- archive-card -->
            <div class="archive-card-wrap">
                <div class="archive-card">
                    <div class="archive-card-header">
                        <div class="archive-marking">
                            <div class="archive-wrap-img">
                                <img src="{% static 'goal_setting/images/icons/archive.png' %}" class="archive-img">
                            </div>
                            <h6 class="archive-marking-title">Архив</h6>
                        </div>
                        <a class="archive-more" href="#">Показать больше></a>
                    </div>
                    <div class="archive-body">
                        <ul class="archive-list">
                            <li class="archive-not-name">Архив пока пуст!</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <!-- new-goal -->
        <div class="row-content">
            <div class="new-goal-card">
                <div class="goal-new-title-wrap">
                    <h4 class="goal-new-title">Создать новую цель!</h4>
                </div>
                <div class="create-goal-card">
                    <div class="create-goal-form">
                        <form action="" method="post" enctype="multipart/form-data" id="create-goal-frm" class="create-goal-frm">
                            {% csrf_token %}
                            <div class="form-group">
                                <label class="form-label">Название цели:</label>
                                {{ form.title }}
                            </div>
                            <div class="form-textarea">
                                <label class="form-label">Описание цели:</label>
                                {{ form.description }}
                            </div>
                            <div class="row">
                                <div class="form-group">
                                    <label class="form-label">Категория:</label>
                                    {{ form.category }}
                                </div>
                                <div class="form-group">
                                    <label class="form-label">Дата завершения цели:</label>
                                    {{ form.time_of_end }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group">
                                    <label class="form-label">Загрузить изображение:</label>
                                    <a id="upload-btn"><span id="upload-text" class="form-control cursor-pointer">Файл не выбран</span></a>
                                    {{ form.image }}
                                </div>
                                <div class="form-group">
                                    <label class="form-label">Приватность цели:</label>
                                    {{ form.privacy }}
                                </div>
                            </div>
                            <div class="form-create-btn">
                                <button type="submit" class="btn btn-blue">Создать цель</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>

<!-- news -->
<section class="blog-page">
    <div class="container">
        <div class="row">
            <div class="news-header-wrap">
                <div class="news-header">
                    <h1 class="news-title title-standard">Читай истории успешных людей</h1>
                </div>
            </div>
        </div>
        <div class="row">
            {% for n in news_list %}
            <div class="news-block-wrap">
                <div class="news-block">
                    <a href="{{ n.get_absolute_url }}">
                        <div class="blog-article-image" style="background: url({{ n.image.url }});
						background-position: center; background-size: 100%;"></div>
                    </a>
                    <div class="news-content">
                        <a href="{{ n.get_absolute_url }}"><h4 class="news-block-title">{{ n.title }}</h4></a>
                        <a href="{{ n.get_absolute_url }}">
                            <p class="news-block-desc">{{ n.content|truncatewords:12 }}</p>
                        </a>
                        <p class="block-date">{{ n.time_create|date:"d-m-Y H:i:s" }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="news-btn">
            <a href="{% url 'news' %}" class="btn btn-blue">Показать больше</a>
        </div>
    </div>
</section>

{% block join-banner %}
{% endblock join-banner %}

{% endblock content %}