{% extends 'goal_setting/base.html' %}
{% load static %}

{% block content %}

<!-- goals-menu -->
<section class="my-goals">
    <div class="container">
        <div class="goal-card-header ">
            <div class="goal-marking">
                <div class="goal-wrap-img">
                    <img src="{% static 'goal_setting/images/icons/goal.png' %}" class="goal-img">
                </div>
                <div class="row-title">
                    <h1 class="goals-title">Мои цели:</h1>
                </div>
            </div>
            <a href="#" class="btn btn-blue">Создать новую цель</a>
        </div>

        <div class="goal-list-wrap">
            <!-- Краткосрочные -->
            <div class="goal-list-card">
                <div class="goal-list-header">
                    Краткосрочные цели (до 3 месяцев)
                </div>
                <ul class="goal-list-content">
                    {% for goal in goals_list %}
                    {% for per in period.less_90_days %}
                    {% if goal.title == per %}
                    <li class="goal-list-item">
                        <a href="#" class="goal-content-link">
                            {{ goal.title }}
                        </a>
                        <ul class="goal-list-icons">
                            <li class="goal-list-icon">
                                <a href="#" class="goal-icon-link">
                                    <img class="icon-link-img" src="{% static 'goal_setting/images/icons/delete.png' %}">
                                </a>
                            </li>
                            <li class="goal-list-icon">
                                <a href="#" class="goal-icon-link">
                                    <img class="icon-link-img" src="{% static 'goal_setting/images/icons/edit.png' %}">
                                </a>
                            </li>
                            <li class="goal-list-icon">
                                <a href="#" class="goal-icon-link">
                                    <img class="icon-link-img" src="{% static 'goal_setting/images/icons/done.png' %}">
                                </a>
                            </li>
                        </ul>
                    </li>
                    {% endif %}
                    {% endfor %}
                    {% endfor %}
                </ul>
            </div>

            <!-- Краткосрочные 3-12 месяцев -->
            <div class="goal-list-card">
                <div class="goal-list-header">
                    Краткосрочные цели (от 3 до 12 месяцев)
                </div>
                <ul class="goal-list-content">
                    {% for goal in goals_list %}
                    {% for per in period.from_3_to_12_months %}
                    {% if goal.title == per %}
                    <li class="goal-list-item">
                        <a href="#" class="goal-content-link">
                            {{ goal.title }}
                        </a>
                        <ul class="goal-list-icons">
                            <li class="goal-list-icon">
                                <a href="#" class="goal-icon-link">
                                    <img class="icon-link-img" src="{% static 'goal_setting/images/icons/delete.png' %}">
                                </a>
                            </li>
                            <li class="goal-list-icon">
                                <a href="#" class="goal-icon-link">
                                    <img class="icon-link-img" src="{% static 'goal_setting/images/icons/edit.png' %}">
                                </a>
                            </li>
                            <li class="goal-list-icon">
                                <a href="#" class="goal-icon-link">
                                    <img class="icon-link-img" src="{% static 'goal_setting/images/icons/done.png' %}">
                                </a>
                            </li>
                        </ul>
                    </li>
                    {% endif %}
                    {% endfor %}
                    {% endfor %}
                </ul>
            </div>

            <!-- Среднесрочные -->
            <div class="goal-list-card">
                <div class="goal-list-header">
                    Среднесрочные (от 1 до 3 лет)
                </div>
                <ul class="goal-list-content">
                    {% for goal in goals_list %}
                    {% for per in period.from_1_to_3_years %}
                    {% if goal.title == per %}
                    <li class="goal-list-item">
                        <a href="#" class="goal-content-link">
                            {{ goal.title }}
                        </a>
                        <ul class="goal-list-icons">
                            <li class="goal-list-icon">
                                <a href="#" class="goal-icon-link">
                                    <img class="icon-link-img" src="{% static 'goal_setting/images/icons/delete.png' %}">
                                </a>
                            </li>
                            <li class="goal-list-icon">
                                <a href="#" class="goal-icon-link">
                                    <img class="icon-link-img" src="{% static 'goal_setting/images/icons/edit.png' %}">
                                </a>
                            </li>
                            <li class="goal-list-icon">
                                <a href="#" class="goal-icon-link">
                                    <img class="icon-link-img" src="{% static 'goal_setting/images/icons/done.png' %}">
                                </a>
                            </li>
                        </ul>
                    </li>
                    {% endif %}
                    {% endfor %}
                    {% endfor %}
                </ul>
            </div>

            <!-- Долгосрочные -->
            <div class="goal-list-card">
                <div class="goal-list-header">
                    Долгосрочные цели (от 3 лет)
                </div>
                <ul class="goal-list-content">
                    {% for goal in goals_list %}
                    {% for per in period.more_3_years %}
                    {% if goal.title == per %}
                    <li class="goal-list-item">
                        <a href="#" class="goal-content-link">
                            {{ goal.title }}
                        </a>
                        <ul class="goal-list-icons">
                            <li class="goal-list-icon">
                                <a href="#" class="goal-icon-link">
                                    <img class="icon-link-img" src="{% static 'goal_setting/images/icons/delete.png' %}">
                                </a>
                            </li>
                            <li class="goal-list-icon">
                                <a href="#" class="goal-icon-link">
                                    <img class="icon-link-img" src="{% static 'goal_setting/images/icons/edit.png' %}">
                                </a>
                            </li>
                            <li class="goal-list-icon">
                                <a href="#" class="goal-icon-link">
                                    <img class="icon-link-img" src="{% static 'goal_setting/images/icons/done.png' %}">
                                </a>
                            </li>
                        </ul>
                    </li>
                    {% endif %}
                    {% endfor %}
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</section>

{% endblock content %}

{% block join-banner %}
{% endblock join-banner %}