{% extends 'goal_setting/base.html' %}
{% load static %}

{% block content %}

<!-- goals -->
<section class="goals">
    <div class="container">
        <div class="row-title">
            <h1 class="goals-title">Работа с целями:</h1>
        </div>
        <div class="row-content">
            <!-- goal-card -->
            <div class="goal-card-wrap">
                <div class="goal-card">
                    <div class="goal-card-header">
                        <div class="goal-marking">
                            <div class="goal-wrap-img">
                                <img src="{% static 'goal_setting/images/icons/goal.png' %}" class="goal-img">
                            </div>
                            <h6 class="goals-marking-title">Цели</h6>
                        </div>
                        <a class="goal-more" href="#">Показать больше ></a>
                    </div>
                    <div class="goal-body">
                        <ul class="goal-list">
                            <li class="goal-not-name">У вас пока нет целей!</li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- archive-card -->
            <div class="archive-card-wrap">
                <div class="archive-card">
                    <div class="archive-card-header">
                        <div class="archive-marking">
                            <div class="archive-wrap-img">
                                <img src="{% static 'goal_setting/images/icons/archive.png' %}" class="archive-img">
                            </div>
                            <h6 class="archive-marking-title">Архив</h6>
                        </div>
                        <a class="archive-more" href="#">Показать больше></a>
                    </div>
                    <div class="archive-body">
                        <ul class="archive-list">
                            <li class="archive-not-name">Архив пока пуст!</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <!-- new-goal -->
        <div class="row-content">
            <div class="new-goal-card">
            	<div class="goal-new-title-wrap">
            		 <h4 class="goal-new-title">Создать новую цель!</h4>
            	</div>
                <div class="create-goal-card">
                    <div class="create-goal-form">
                        <form id="create-goal-frm" method="post">
                            <div class="form-group">
                                <label>Название цели:</label>
                                <input type="text" name="goal-title" id="goal-title" class="form-control">
                            </div>
                            <div class="form-group">
                                <label>Описание цели:</label>
                                <textarea name="goal-desc" placeholder="Опишите свою цель..." id="id_goal_desc" class="form-area-control"></textarea>
                            </div>
                            <div class="row">
                                <div class="form-group">
                                    <label>Категория:</label>
                                    <select name="category" id="category" class="form-control">
                                        <option value="">Выбирите категорию</option>
                                        <option value="2">Творчество и хобби</option>
                                        <option value="3">Дом</option>
                                        <option value="4">Здоровье</option>
                                        <option value="5">Семья</option>
                                        <option value="6">Фриланс</option>
                                        <option value="7">Образование</option>
                                        <option value="8">Социальные навыки</option>
                                        <option value="9">Карьера</option>
                                        <option value="10">Бизнес</option>
                                        <option value="11">Языки</option>
                                        <option value="12">Другое</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>Дата завершения цели:</label>
                                    <input type="date" placeholder="yyyy-mm-dd" min="2023-02-18"  name="target" id="target" class="form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Загрузить изображение:</label>
                                <input type="file" name="goal-photo" class="form-control" accept="image/*" required="" id="id_photo">
                            </div>
                            <div class="form-group">
                                <label>Приватность:</label>
                                <div class="radio-btns">
                                    <div class="radio-block">
                                        <input name="privacy-choice" type="radio" id="cb-privacy" class="privacy-choice">
                                        <label for="cb-privacy">Приватная</label>
                                    </div>
                                    <div class="radio-block">
                                        <input name="privacy-choice" type="radio" id="cb-public" class="privacy-choice">
                                        <label for="cb-public">Публичная</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-blue">Создать цель</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
		</div>

    </div>
</section>

{% endblock content %}