{% extends 'goal_setting/base.html' %}

{% block content %}
<section class="home-intro">
    <div class="header-img"></div>
    <header class="header">
        <h1 class="header-title">
            Сервис для постановки<br>и достижения целей
        </h1>
        <p class="header-intro">
            Легко работать над своими целями.
        </p>
    </header>
    <a href="#" class="home-btn">Начать</a>
</section>
<section class="home-desc">
    <ul class="chess-blocks">
        <li class="chess-block">
            <div class="block-frame1"></div>
            <div class="block-desc">
                <h3>Опубликуйте свою цель</h3>
                <p>При помощью модели вы сможете наиболее четко сформировать свою цель.</p>
            </div>
        </li>
        <li class="chess-block">
            <div class="block-desc">
                <h3>Описывайте этапы достижения</h3>
                <p>Вы можете сформировать этапы, через которые необходимо пройти для достижения цели.</p>
            </div>
            <div class="block-frame2"></div>
        </li>
        <li class="chess-block">
            <div class="block-frame3"></div>
            <div class="block-desc">
                <h3>Просматривайте интересные цели</h3>
                <p>Вы можете просматривать цели других пользователей и вдохновляться ими.</p>
            </div>
        </li>
    </ul>
</section>
<section class="home-invite">
    <h2 class="header-title">Достигайте целей<br><span>вместе с нами</span></h2>
    <p class="header-intro">Будет интересно. С нами мечты сбываются!</p>
    <a href="#" class="home-btn">Начать</a>
</section>
{% endblock content %}