{% extends 'goal_setting/base.html' %}

{% block content %}

<!-- about us -->
<section class="about-us">
    <div class="container">
        <div class="row">
            <div class="about-left">
                <div class="about-content">
                    <h1 class="why-us">Почему мы?</h1>
                    <p class="about-desc">"Это очень важный для Нас вопрос. Не расценивайте Наш проект, 
                        как простое интернет приложение. Только время покажет насколько он полезен, оно и расценит. Удачи.</p>
                    <div class="join-btn">
                        <a href="" class="btn">Зарегестрироваться</a>
                    </div>
                </div>
            </div>
            <div class="about-right">
                <div class="about-img-wrap">
                    <img class='about-img' src="#">
                </div>
            </div>
        </div>
    </div>
</section>

<!-- chess -->
<section class="chess">
    <div class="contanier">
        <div class="row">
            <div class="chess-left">
                <img class="chess-img" src="#">
            </div>
            <div class="chess-right">
                <p class="chess-text">Каждый путь по достижению цели является уникальным. На этом пути вы можете столкнуться с многими проблемами. 
                    Наше приложение помогает систематизировать пути достижения целей. Понять, действительно ли вы движетесь в Своем направлении.
                    Вы можете разбить сложную цель на небольшие этапы. Истории достижений целей других пользователей будут вас мотивировать.</p>
            </div>
        </div>
        <div class="row">
            <div class="chess-left">
                <p class="chess-text">Что если пути достижения целей будут ясными и понятными? Если на вашем пути вы получите поддержку от 
                    понимающих Вас людей? Именно по этой причине мы создали это приложение. В нашем приложении вы можете получать поддержку и советы других пользователей.</p>
            </div>
            <div class="chess-right">
                <img class="chess-img" src="">
            </div>
        </div>
    </div>
</section>

<!-- join-banner -->
<section class="join-banner">
    <div class="contanier">
        <h2 class="join-banner-text">Присоеденяйтесь сегодня<br><span>Ставьте цели и делитесь историями успеха!</span></h2>
    </div>
    <div class="join-btn">
        <a href="" class="btn">Зарегестрироваться</a>
    </div>
</section>

{% endblock content %}