{% extends 'goal_setting/base.html' %}

{% block content %}
<!-- news -->
<section class="blog-page">
	<div class="container">
		<div class="row">
			<div class="news-header-wrap">
	            <div class="news-header">
					<h1 class="news-title">Новости успеха</h1>
	            </div>
			</div>
		</div>
		<div class="row">
			<div class="news-block-wrap">
				<div class="news-block">
					<a href="#">
						<div class="blog-article-image"></div>
					</a>
					<div class="news-content">
		                <a href="#"><h4 class="news-block-title">Начало</h4></a>
		                <a href="#">
							<p class="news-block-desc">Начните жить. И все будет хорошо!</p>
						</a>
		                <p class="block-date">Feb 21th, 2023</p>
					</div>
				</div>
			</div>
			<div class="news-block-wrap">
				<div class="news-block">
					<a href="#">
						<div class="blog-article-image"></div>
					</a>
					<div class="news-content">
		                <a href="#"><h4 class="news-block-title">Начало</h4></a>
		                <a href="#">
							<p class="news-block-desc">Начните жить. И все будет хорошо!</p>
						</a>
		                <p class="block-date">Feb 21th, 2023</p>
					</div>
				</div>
			</div>
			<div class="news-block-wrap">
				<div class="news-block">
					<a href="#">
						<div class="blog-article-image"></div>
					</a>
					<div class="news-content">
		                <a href="#"><h4 class="news-block-title">Начало</h4></a>
		                <a href="#">
							<p class="news-block-desc">Начните жить. И все будет хорошо!</p>
						</a>
		                <p class="block-date">Feb 21th, 2023</p>
					</div>
				</div>
			</div>
			<div class="news-block-wrap">
				<div class="news-block">
					<a href="#">
						<div class="blog-article-image"></div>
					</a>
					<div class="news-content">
		                <a href="#"><h4 class="news-block-title">Начало</h4></a>
		                <a href="#">
							<p class="news-block-desc">Начните жить. И все будет хорошо!</p>
						</a>
		                <p class="block-date">Feb 21th, 2023</p>
					</div>
				</div>
			</div>
			<div class="news-block-wrap">
				<div class="news-block">
					<a href="#">
						<div class="blog-article-image"></div>
					</a>
					<div class="news-content">
		                <a href="#"><h4 class="news-block-title">Начало</h4></a>
		                <a href="#">
							<p class="news-block-desc">Начните жить. И все будет хорошо!</p>
						</a>
		                <p class="block-date">Feb 21th, 2023</p>
					</div>
				</div>
			</div>
			<div class="news-block-wrap">
				<div class="news-block">
					<a href="#">
						<div class="blog-article-image"></div>
					</a>
					<div class="news-content">
		                <a href="#"><h4 class="news-block-title">Начало</h4></a>
		                <a href="#">
							<p class="news-block-desc">Начните жить. И все будет хорошо!</p>
						</a>
		                <p class="block-date">Feb 21th, 2023</p>
					</div>
				</div>
			</div>
			<div class="news-block-wrap">
				<div class="news-block">
					<a href="#">
						<div class="blog-article-image"></div>
					</a>
					<div class="news-content">
		                <a href="#"><h4 class="news-block-title">Начало</h4></a>
		                <a href="#">
							<p class="news-block-desc">Начните жить. И все будет хорошо!</p>
						</a>
		                <p class="block-date">Feb 21th, 2023</p>
					</div>
				</div>
			</div>
			<div class="news-block-wrap">
				<div class="news-block">
					<a href="#">
						<div class="blog-article-image"></div>
					</a>
					<div class="news-content">
		                <a href="#"><h4 class="news-block-title">Начало</h4></a>
		                <a href="#">
							<p class="news-block-desc">Начните жить. И все будет хорошо!</p>
						</a>
		                <p class="block-date">Feb 21th, 2023</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

{% endblock content %}

{% block join-banner %}
{% endblock join-banner %}