{% extends 'goal_setting/base.html' %}

{% block content %}
<!-- news -->
<section class="blog-page">
    <div class="container">
        <div class="row">
            <div class="news-header-wrap">
                <div class="news-header">
                    <h1 class="news-title">Истории успеха</h1>
                </div>
            </div>
        </div>
        <div class="row">
            {% for n in news_list %}
            <div class="news-block-wrap">
                <div class="news-block">
                    <a href="{{ n.get_absolute_url }}">
                        <div class="blog-article-image" style="background: url({{ n.image.url }});
						background-position: center; background-size: 100%;"></div>
                    </a>
                    <div class="news-content">
                        <a href="{{ n.get_absolute_url }}"><h4 class="news-block-title">{{ n.title }}</h4></a>
                        <a href="{{ n.get_absolute_url }}">
                            <p class="news-block-desc">{{ n.content|truncatewords:12 }}</p>
                        </a>
                        <p class="block-date">{{ n.time_create|date:"d-m-Y H:i:s" }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

{% endblock content %}

{% block join-banner %}
{% endblock join-banner %}