{% extends 'goal_setting/base.html' %}
{% load static %}


{% block content %}
<section class="goal-desc">
    <div class="container">
        <div class="goal-desc-header">
            <div class="goal-title">
                <h1 class="goals-title">{{ goal.title }}</h1>
            </div>
            <div class="goal-desc-icons">
                <ul class="goal-list-icons">
                    <li class="goal-list-icon">
                        <a href="{% url 'delete_goal' goal_slug=goal.slug %}" class="goal-icon-link">
                            <img class="icon-link-img" src="{% static 'goal_setting/images/icons/delete.png' %}">
                        </a>
                    </li>
                    <li class="goal-list-icon">
                        <a href="{% url 'update_goal' goal_slug=goal.slug %}" class="goal-icon-link">
                            <img class="icon-link-img" src="{% static 'goal_setting/images/icons/edit.png' %}">
                        </a>
                    </li>
                    <li class="goal-list-icon">
                        <a href="#" class="goal-icon-link">
                            <img class="icon-link-img" src="{% static 'goal_setting/images/icons/done.png' %}">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="goal-desc-content">
            <div class="wrap-goal-left">
                {% if goal.image %}
                <div class="block-cat">
                    <p class="goal-cat">Категория: {{ goal.category }}</p>
                    <p class="goal-time">Дата завершения: {{ goal.time_of_end }}</p>
                </div>
                <div class="wrap-goal-desc-img">
                    <img src="{{ goal.image.url }}" class="goal-desc-img">
                </div>
                {% endif %}
            </div>
            <div class="wrap-goal-right">
                <div class="goal-right-container">
                    <p class="goal-desc-text">{{ goal.description }}</p>
                    <div class="goal-desc-btn">
                        <a href="{% url 'my_goals' %}" class="btn btn-blue">К списку целей</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock content %}

{% block join-banner %}
{%  endblock join-banner %}